{{ if .Site.Data.homepage.contact.enable }}
<section id="contact" class="section section--contact pt-0">
    <div class="container">
        <div class="contact">
            <h2>{{ .Site.Data.homepage.contact.title }}</h2>
            <div class="row platform-links">
                <div class="col-12">
                  {{ range .Site.Data.homepage.showcase.socialLinks }}
                  <a href="{{ .URL | absURL }}" target="_blank"
                    ><i class="icon-{{ .icon }}-line"></i
                  ></a>
                  {{ end }}
                </div>
              </div>
        </div>
    </div>
</section>
{{ end }}
